<html>
<head>
<title>NOT FOUND 404</title>
</head>
<body>
<h1>Cryptocurrencies trade website</h1>
<h2>Please order</h2>


<form action="/process1" method="post">
Quantity: <input type="number" name="qty"><br>
Select Item: 
<select name="itemOrdered">
<option value="{{item_id}}">1.Bitcoin</option>
</br>
</select><br>
<input type="Submit" value="1-Click Checkout">
</form>
<form action="/process2" method="post">
Quantity: <input type="number" name="qty"><br>
Select Item: 
<select name="itemOrdered">
<option value="{{item_id}}">1.Bitcoin</option>
</br>
</select><br>
<input type="Submit" value="1-Click Checkout">
</form>




</body>
</html>